body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

.profile-h2 {
	background-color: green;
	color: white;
	position: relative;
}

#interests {
	background-color: orange;
	color: white;
}


#interests-list	{
	display: flex;
	justify-content: space-around;
	font-size: large;
	border: dotted rgb(39, 22, 108);
}

.feedback{
	list-style-type: none;
	
}

.big-buttons {
	background-color: yellow;
	width: 150px;
	height: 100px;
}